html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background: #ffffff;
  font-family: 'Noto Serif Display', serif;
  font-family: 'Raleway', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  background: linear-gradient(90deg, #574A97, #A9A8CF, #B194C0);
  padding: 20px 0 20px 0;
  max-width: 375px;
}

nav a {
  font-family: 'Noto Serif Display', serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

a:hover  {
  color: #F1CF48;
}

.navigation-container {
  display: flex;
  justify-content: space-around;
}

h1, h2, .header-titre {
  font-family: 'Noto Serif Display', serif;
}

h1 {
  font-size: 30px;
  margin-left: 20px;
}

h2 {   
  margin-top: 70px;
  background-image: url(../img/ornement-sous-titre.svg);
  background-repeat: no-repeat;
}

main h3 {
  font-size: 15px;
  margin-top: 50px;
}

.header-titre {
  font-size: 14px;
  text-align: end;
  margin-right: 20px;
  background-image: url(../img/ornement-titre.svg);
  background-repeat: no-repeat;
  background-position: right;
}

p {
  font-size: 15px;
  font-weight: 500;
}

.legendes {
  font-size: 14px;
  font-weight: normal;
}

strong {
  color: #20A566;
  font-weight: 600;
}

ul {
  font-size: 14px;
  list-style: none;
  padding-left: 30px;
}

ul strong {
  color: black;
}
.informations-film-container {
  display: flex;
}

.footer-informations {
  background: linear-gradient(90deg, #574A97, #A9A8CF, #B194C0);
  padding: 20px;
}

footer img {
  max-width: 30%;
}

.end {
  margin: auto;
  margin-bottom: 10px;
  margin-top: 70px
}

.informations-bottom-container {
  display: flex;
}

.contact-container {
  display: flex;
  justify-content: space-between
}

.copyright {
  font-size: 12px;
  font-weight: normal;
}